*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 224, 64);
    width: 909px;
}
.num{
    padding-top: 100px;
}
.box1{
    display: flex;
    gap: 30px;
    position:relative;
    top:50px;
    left: 500px; 
    padding: 40px;
   
 
    
}
.row1{
    width: 100px;
    height: 100px;
    
    background-color: rgb(54, 150, 118);
   animation: first 6s linear infinite;
   
}
@keyframes first{
    0%{
        transform: skew(-30deg);
    }
    25%{
        transform: skew(0deg );
    }
    50%{
        transform: skew(30deg);
    }
    100%{
        transform: skew(-30deg );
    }
}
.row2{
    width: 100px;
    height: 100px;
    background-color:rgb(137, 134, 134);
   animation: second 6s linear infinite;
   
   
}
@keyframes second{
    0%{
        transform: skewY(-30deg) ;
      
    }
    25%{
        transform: skewY( 0deg );
    }
    50%{
        transform: skewY( 30deg);
    }
    100%{
        transform: skewY( -30deg );
    }
}
.row3{
    width: 100px;
    height: 100px;
    background-color: rgb(54, 150, 118);
   animation: third 3s linear infinite reverse;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
   
}
@keyframes third{
   
    
    0%{
        transform: rotateZ(360deg );
    }
   
    100%{
        transform: rotateZ(0deg );
    }
}
.row4{
    width: 100px;
    height: 100px;
    background-color: rgb(54, 150, 118);
   animation: forth1 3s linear infinite;
   
}
@keyframes forth1{
   
    
    0%{
        transform: scaleY(1);
        
    }
   
    50%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1);
        
    }
}

.row5{
    width: 100px;
    height: 100px;
    background-color: rgb(126, 30, 29);
   animation: forth2 3s linear infinite;
   
}
@keyframes forth2{
   
    
    0%{
        transform: scaleX(1);
        
    }
   
    50%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1);
        
    }
}

.row6{
    width: 100px;
    height: 100px;
    background-color:  rgb(54, 150, 118);
   animation: forth3 4s linear infinite;
  
   
}
@keyframes forth3{
   
    
    0%{
        transform: rotateZ(20deg );
    }
   
    30%{
        transform: rotateZ(-90deg );
    }
    75%{
        transform: rotateZ(0deg );

    }
    100%{
        transform: rotateZ(20deg );

    }
   
   
}
.lik{

    font-size: 30px;
    position: relative;
    top: 60px;
    left: 550px;
    padding: 40px;
}



